@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root{
    --header-height: 3rem;

    /* Colors */
    --first-color: #f2f3;
    --black-color: #000000;
    --black-color-light: #333;
    --white-color: #f1f1f1;
    --text-color:#000000;
    --body-color: #f1f1f1;
    --container-color: #d3d3d2;
    --title-color: #000000;
    --red-color: #e30bd5;

    /* Font size */
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Font family */
    --body-font: 'DM Sans', sans-serif;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* Border radius */
    --border-radius: .25rem;

}

@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6{
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}


/* reusable css classes */
.container{
    max-width: 1170px;
    width: 100%;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding: 2rem 2rem;
}

.section__title-1,
.section__title-2{
    position: relative;
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
    width: max-content;
    margin: .75rem auto 2rem;
}

.section__title-1 span,
.section__title-2 span{
    position: relative;
    z-index: 5;
}

.section__title-1::after,
.section__title-2::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: -8px;
    width: 40px;
    height: 28px;
    background-color: var(--first-color);
}

.section__title-1::after{
    transform: rotate(-2deg);
    top:initial;
    bottom: -4px;
}

.geometric-box{
    margin-top: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--red-color);
    transform: rotate(-30deg);
}

.geometric-box::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:3px solid var(--first-color);
    left: -5px;
    top: -5px;
}

.main{
    overflow: hidden;
}

/* header & nav */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .3s ease;
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 1.5rem;
}

.nav__logo{
    display: flex;
    column-gap: .5rem;
    align-items: center;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.nav__logo-circle, 
.nav__toggle{
    width: 40px;
    height: 40px;
    background-color: var(--black-color);
    color: var(--white-color);
    display: grid;
    place-items: center;
}

.nav__logo-circle{
    font-size: 1.25rem;
    border-radius: 50%;
}

.nav__toggle{
    font-size: 1.5rem;
    cursor: pointer;
}


/* mobile navigation */
@media screen and (max-width: 1200px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        padding-block: 1.8rem 5rem;
        text-align: center;
        /* backdrop-filter: blur(5px); */
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        padding: 1rem 0;
        transition: top .3s ease;
    }

    .nav__title,
    .nav__name,
    .nav__close{
        color: var(--black-color-light);
    }

    .nav__title{
        position: relative;
        font-size: var(--h2-font-size);
        font-weight: var(--font-semi-bold);
        margin: 0 auto 2.5rem;
    }

    .nav__name{
        position: relative;
        width: max-content;
        margin: 0 auto 2.5rem;
        font-size: var(--h2-font-size);
    }

    .nav__name::after,
    .nav__name::before{
        content: "";
        position: absolute;
        top: 50%;
        left: -4rem;
        width: 40px;
        height: 1px;
        background-color: var(--text-color);
    }

    .nav__name::before{
        left: initial;
        right: -4rem;
    }
    .nav__list{
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .nav__link{
        position: relative;
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        transition: color .3s ease;
        color: var(--black-color);
    }

    .nav__link::after{
        content: "";
        position: absolute;
        bottom: -.5rem;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--red-color);
        transition: width .3s ease;
    }

    .nav__link:hover{
        color: var(--red-color);
    }

    .nav__link:hover::after{
        width: 100%;
    }

    .nav__close{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .nav__close:hover{
        color: var(--red-color);
    }

    /* show menu */
    .show-menu{
        top: 0;
        transition: .5s ease-in-out;
    }
}

/* shadow header */
.shadow-header{
    box-shadow: 0 1px 16px rgba(0, 0, 0, .12);
}


/* home section */
.home__container{
    padding-top: 2rem;
}

.home__name{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
    text-align: center;
}

.home__profile{
    position: relative;
    justify-self: center;
}

.home__image{
    width: 220px;
    overflow: hidden;
}

.home__img{
    position: relative;
    z-index: 10;
    object-fit: cover;
}

.home__shadow{
    position: absolute;
    bottom: -.75rem;
    right: -.75rem;
    width: 100%;
    height: 100%;
    background-color: var(--container-color);
    z-index: 5;
    border: 4px solid var(--black-color);
    transition: bacckground-color .3s ease;
}

/* .home__arrow,
.home__line{
    position: absolute;
    filter: invert(1);
    width: 50px;
    transition: filter .3s ease;
    color: var(--black-color);
}

.home__arrow{
    left: 40%;
    bottom: -4rem;
    color: #000000;
}

.home__line{
    right: -2rem;
} */

.home__profile .geometric-box{
    top: 1.5rem;
    left: -.7rem;
    z-index: 10;
}

.home__social{
    height: max-content;
    position: absolute;
    left: -3rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: grid;
    row-gap: 1rem;
}

.home__social-link{
    background-color: var(--black-color-light);
    color: var(--white-color);
    font-size: 1.25rem;
    padding: 6px;
    display: grid;
    place-items: center;
    transition: background-color .3s ease;
}

.home__social-link:hover{
    background-color: var(--black-color);
}

.home__info{
    margin-top: 4rem;
}

.home__decription{
    text-align: center;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

.home__description b:hover{
    color: var(--red-color);
}

.home__scroll{
    display: block;
    width: max-content;
    margin: 0 auto;
}

.home__scroll-text{
    display: none;
}

.home__scroll-box{
    background-color: var(--black-color);
    color: var(--white-color);
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s ease-in-out;
}

.home__scroll-box{
    animation: scroll-down 3s ;
}

/* Animate scroll icon */
@keyframes scroll-down {
    0%{
        transform: translateY(-1rem);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(.6rem);
        opacity: 0;
    }
}

/* buttons */
.button,
.button__ghost{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.button{
    background-color: var(--black-color);
    padding: 1.1rem 1.5rem;
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: background-color .3s ease;
}

.button i{
    font-size: 1.25rem;
}

.button:hover{
    background-color: var(--red-color);
}

.button__ghost{
    border: 3px solid var(--black-color);
    color: var(--black-color);
    padding: .5rem;
    transition: border .4s, color .4s ease;
}

.button__ghost i{
    font-size: 1.25rem;
}

.button__ghost:hover{
    border: 3px solid var(--red-color);
    color: var(--red-color);
}
/* about section */
.about{
    background-color: var(--white-color);
    transition: background-color .3s ease;
}
.about__container{
    row-gap: 0;
}

.about__profile{
    display: grid;
    justify-content: center;
    margin-block: 2.5rem 4.5rem;
}

.about__image{
    width: 220px;
}

.about__img{
    position: relative;
    z-index: 1; 
    border: 4px solid var(--white-color);
}


.about__shadow{
    position: absolute;
    width: 100px;
    right: 1.5rem;
    height: 50px;
    background-color: var(--body-color);
    border-bottom: 4px solid var(--black-color);
    transition: background-color .3s ease;
}

.about__profile .geometric-box{
    right: 2.5rem;
}

.about__info{
    margin-top: 2rem;
    padding: 2.5rem;
}

.about__description{
    position: relative;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

.about__description::after{
    content: '';
    width: 20px;
    height: 2px;
    background-color: var(--title-color);
    position: absolute;
    left: -1.75rem;
    top: .5rem;
}

.about__list{
    list-style: square;
    color: var(--title-color);
    margin-bottom: 3rem;
}

.about__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

}

/* Services */

.services__container{
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 2rem;
    padding-top: 1rem;
}

.services__card{
    position: relative;
}

.services__content{
    height: 100%;
    background-color: var(--body-color);
    border: 4px solid var(--black-color);
    margin-top: 2rem;
    padding: 6rem 1.5rem 3rem;
    z-index: 5;
    position: relative;
    transition: background-color .3s ease, border 3s ease;
}

.services__border{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid var(--first-color);
    top: 0;
    left: 0;
    transition: transform .3s ease;
}

.services__card:hover .services__border{
    transform: translate(1rem, 1rem);
}

.services__icon{
    position: relative;
    display: inline-block;
}

.services__icon i{
    font-size: 2rem;
    color: var(--black-color);
    position: relative;
    transition: color .3s ease;
    z-index: 5;
}

/* .services__box{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--red-color);
    top: -2px;
   
} */

.services__title{
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
}

/* projects */
.projects{
    background-color: var(--container-color);
    transition: background-color .3s ease;
    border-radius: .3rem;
}

.projects__container{
    row-gap: 2rem;
}

.projects__card{
    padding: 1rem 1rem 2rem;
    margin-top: 2rem;
    border-radius: .3rem;
    transition: background-color .3s ease;
    background-color: var(--container-color);
}

.projects__image{
    position: relative;
    overflow: hidden;
    border-radius: .3rem;
    margin-bottom: .75rem;
}

.projects__button{
    position: absolute;
    right: .75rem;
    bottom: -.5rem;
    padding: 1rem;
}

.projects__content{
    margin-bottom: 1.5rem;
}

.projects__subtitle{
    position: relative;
    display: inline-block;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

.projects__subtitle::after{
    content: '';
    width: 20px;
    height: 2px;
    background-color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 0;
}

.projects__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

.projects__buttons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.projects__link{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--text-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    transition: color .3s ease;
}

.projects__link i{
    font-size: 1.25rem;
    color: var(--text-color);
    transition: color .4s;
}

.projects__link:hover,
.projects__link:hover i{
    color: var(--red-color);
}

.projects__card:hover{
    background-color: var(--white-color);
}

/* Contact */
